0_data
1_PrepareMapData
2_PrepareDiversityData
3_RunSpeciesLevelModels
4_PlotSpeciesLevelModels
5_ProjectModelsLandUse
6_ProjectModelsClimate
7_ProjectModelsLandUseAndClimate
8_ProjectModelsLandUseAndClimateNoClimateChange
9_CompareProjections
10_ProjectModelsLandUseFuture
13_ProjectModelsLandUseAndClimateNoClimateChangeFuture
12_ProjectModelsLandUseAndClimateFuture
14_CompareProjectionsFuture
X_RunSpeciesLevelModels.R
X_PrepareSiteData.R
X_RunModels.R