0_data
ProcessTemporalClimate
1_PrepareMapData
2_PrepareDiversityData
3_RunSpeciesLevelModels
4_PlotSpeciesLevelModels
5_ProjectModelsLandUse
6_ProjectModelsClimate
7_ProjectModelsLandUseAndClimate
8_ProjectModelsLandUseAndClimateNoClimateChange
9_CompareProjections
10_ProjectModelsLandUseFuture
13_ProjectModelsLandUseAndClimateNoClimateChangeFuture
12_ProjectModelsLandUseAndClimateFuture
14_CompareProjectionsFuture
15_PlotSites
16_ReferencesPreprocess
17_ProcessEndnote
18_MapBumblebeeDependentCrops
19_CompareProjectionsWithBumblebeeDependentCropProduction
20_PrepareRawClimateData
21_CompareRawCimateModels
X_RunSpeciesLevelModels.R
X_PrepareSiteData.R
X_RunModels.R
